<mat-accordion *ngIf="allTopicPostsDisplay.length > 0">
  <mat-expansion-panel *ngFor="let allTopicPostDisplay of allTopicPostsDisplay">

    <!-- HEADER: titre, username, date -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{allTopicPostDisplay.titre}}
      </mat-panel-title>
      <mat-panel-description >
        <div>{{allTopicPostDisplay.username}}</div>
        <div>{{allTopicPostDisplay.date.toLocaleDateString()}}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Description, fichiers, commentaires-->
    <p class="cDescrip"> {{allTopicPostDisplay.description}} </p>

    <div class="cFile">
      <mat-tab-group >
        <mat-tab *ngFor="let file of allTopicPostDisplay.files" id="fileTitle" label={{file.titre}}.{{file.type}} >
          {{file.content}}
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="cComment" >
      <div class="comments" *ngFor="let comment of allTopicPostDisplay.comments">
        {{comment.username}} <br>
        {{comment.content}}
        {{comment.date}}
      </div>
    </div>

    <!-- Bouton: ajouter un commentaire-->
    <mat-action-row>
      <button mat-button color="primary" (click)="comment()">Laisser un commentaire</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
