.matAccordionPrincipal {
  display: block;
  margin-top:90px;
}

/**Le topic**/
.matExpansionPanelPrincipal{
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom:30px;
  border: 3px solid #d7d7d7;
}

/**Topic:Header lorsque ouvert**/
.mat-expansion-panel-header.mat-expanded{
  height: 60px;
  border-bottom: 3px solid #d7d7d7;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

/**Header:Titre du topic**/
.mat-expansion-panel-header-title {
  font-weight: bold;
  flex-grow: 2;
  margin-left: 5px;
  font-size: 1.4em;
}

/**Header:username et date**/
.mat-expansion-panel-header-description {
  font-weight: bold;
  justify-content: flex-end;
  gap:10%;
  font-size: 1.1em;
}

.cDescrip, .cFile {
  border-bottom: 3px solid #d7d7d7;
}

.cDescrip {
  border-bottom: 3px solid #d7d7d7;
  padding-bottom: 20px;
  margin-top:20px;
  text-align: justify;
  font-size: 1.02em;
  color:black;
}

.fileDate{
  margin:7px 0 10px;
  font-weight: bold;
}

.fileContent {
  margin: 0 0 20px;
}

.cComment{
  display:flex;
  flex-direction: column;
  margin-top:20px;
}

.comments {
  margin-bottom: 13px;
  padding:10px;
  border-radius:10px;
  border: 1px solid #b1abab;
  background-color: #f2efef;
}

/** Formulaire **/
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: contents;
}

.example-full-width {
  width: 100%;
}

.headerForm.mat-expansion-panel-header.mat-expanded{
  height: 45px;
  border:0;
}

.descripForm {
  display: flex;
  justify-content: space-evenly;
  color:#005D76;
}

.commentTextAreaInfo{
  font-size: 15px;
  font-weight: bold;
  color: #9e4654;
}

.buttonCommentForm{
  display: flex;
  justify-content: space-evenly;
}

