.headerFix {
  background-color:#005D76;
  color:white;
  padding:25px;
  font-size: 1.5em;
  margin-bottom:0;
  font-weight: bold;

  /** Pour fixer le header **/
  position: fixed;
  top:0;
  width:100%;
  z-index: 100;

}

