/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Arial", sans-serif;   background-color: #ededed;
}

.mat-expansion-panel-body {
  padding: 0 24px 5px !important;
}

.my-custom-tabs .mdc-tab.mdc-tab--active {
  background: #e6f9f3;
  border-left:#6f9e93 2px solid;
  border-bottom:#6f9e93 2px solid;

}

.my-custom-tabs .mdc-tab {
  border-left:#d7d7d7 1px solid;
  border-bottom:#d7d7d7 1px solid;

}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  /**
  border-color: #6f9e93 !important;
  border-top-width:2px !important;
   */
  border-color: transparent !important;
}
