/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Arial", sans-serif;   background-color: #ededed;
}

.mat-expansion-panel-body {
  padding: 0 24px 15px !important;
}

/** Mise en forme tab actif **/
.my-custom-tabs .mdc-tab.mdc-tab--active {
  background: #ddf1f4;
  border-left: #047ea6 2px solid;
}

/** Mise en forme tab pas actif **/
.my-custom-tabs .mdc-tab {
  border-left:#d7d7d7 1px solid;
  border-bottom:#d7d7d7 1px solid;
}

/** Mise en forme underline - tab actif **/
.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #047ea6 !important;
  border-top-width:2px !important;
}

.mat-mdc-raised-button {
  background-color: #005c75 !important;
  color:white !important;
  border-radius: 10px !important;
}
